/*------------------------------BASIC STYLES------------------------------*/

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #002244;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #A5ACAF;
    padding: 25px;
}

/*------------------------------JUMBOTRON STYLES------------------------------*/

/* Override bootstrap jumbotron background */
.skyline {
    height: 250px;
    background: url("../img/seattlebg.png") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

/* Adjust jumbotron display on small screens */
@media (max-width: 700px) {
    .jumbotron .skyline {
        background: #A5ACAF;
        height: 200px;
    }
    .jumbotron .logo h1 {
        text-align: center;
    }
}

.jumbotron .logo h1{
    margin: -.5em .5em 0 0;
    font-size: 3em;
    color: #002244;
}

/*------------------------------CARD STYLES------------------------------*/
.cardtitle {
    font-size: 1.1em;
    color: #69BE28;
}

.cardheader {
    margin-top:2em;
}

.card {
    width:100%;
}

/*------------------------------BUTTON STYLES------------------------------*/
.submit {
    margin-top: 3.5em;
    background-color: #69BE28;
}

/*------------------------------TOOLTIP STYLES------------------------------*/
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}